{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block user %}
    {{ username }}
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div class="form-group">
            <label for="book-search">Search for a book</label>
            <input autocomplete="off" autofocus id="book-search" class="form-control" name="book-search" placeholder="ISBN, Title or Author" type="text" required>
        </div>

        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}
